@import 'tailwind-colors.css';
/* https://tailwindcss.com/docs/colors */


h1 {
    color: var(--color-green-500);
}

h2 {
    color: var(--color-emerald-500);
}

h3 {
    color: var(--color-teal-500);
}

:root {
    --x-color-primary-50: var(--color-green-50);
    --x-color-primary-100: var(--color-green-100);
    --x-color-primary-200: var(--color-green-200);
    --x-color-primary-300: var(--color-green-300);
    --x-color-primary-400: var(--color-green-400);
    --x-color-primary-500: var(--color-green-500);
    --x-color-primary-600: var(--color-green-600);
    --x-color-primary-700: var(--color-green-700);
    --x-color-primary-800: var(--color-green-800);
    --x-color-primary-900: var(--color-green-900);
    --x-color-primary-950: var(--color-green-950);
}

.logo {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    margin-right: 1em;
}